/* universal style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.text-crimson{
    color: crimson;
}
.linked-button{
    padding: .7rem 2rem;
    border-radius: .3rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.03em;
    font-weight: bold;
    background-color: rgb(11, 168, 147);
    display: inline-block;
    margin: 1.3rem 0 2rem;
    font-family: 'Exo', sans-serif;
    transition: transform .1s linear;
}
.linked-button:active{
    transform: scale(.95);
}
body>section{
    padding: 0 10%;
}
p{
    color: rgb(41, 41, 41);
}
/* ------------------------------------------- */
.text-highlight{
    color: rgb(11, 168, 147);
    font-family: 'Exo 2', sans-serif;
}
.text-highlight::before{
    content: "";
    animation: myname 10s linear infinite;
}
@keyframes myname {
    0% {
        content: "";
    }
    1.5%{
        content: "M";
    }
    3%{
        content: "Mu";
    }
    4.5%{
        content: "Muh";
    }
    6%{
        content: "Muha";
    }
    7.5%{
        content: "Muham";
    }
    9%{
        content: "Muhamm";
    }
    10.5%{
        content: "Muhamma";
    }
    12%{
        content: "Muhammad";
    }
    13.5%{
        content: "Muhammad ";
    }
    15%{
        content: "Muhammad N";
    }
    16.5%{
        content: "Muhammad Na";
    }
    18%{
        content: "Muhammad Naf";
    }
    19.5%{
        content: "Muhammad Nafi";
    }
    21%{
        content: "Muhammad Nafis";
    }
    22.5%{
        content: "Muhammad Nafis ";
    }
    24%{
        content: "Muhammad Nafis A";
    }
    35.5%{
        content: "Muhammad Nafis Ab";
    }
    27%{
        content: "Muhammad Nafis Abd";
    }
    28.5%{
        content: "Muhammad Nafis Abdu";
    }
    30%{
        content: "Muhammad Nafis Abdul";
    }
    31.5%{
        content: "Muhammad Nafis Abdull";
    }
    33%{
        content: "Muhammad Nafis Abdulla";
    }
    34.5%{
        content: "Muhammad Nafis Abdullah";
    }
    38%{
        content: "Muhammad Nafis Abdullah";
    }
    38.5%{
        content: "Muhammad Nafis Abdulla";
    }
    39%{
        content: "Muhammad Nafis Abdull";
    }
    39.5%{
        content: "Muhammad Nafis Abdul";
    }
    40%{
        content: "Muhammad Nafis Abdu";
    }
    40.5%{
        content: "Muhammad Nafis Abd";
    }
    41%{
        content: "Muhammad Nafis Ab";
    }
    41.5%{
        content: "Muhammad Nafis A";
    }
    42%{
        content: "Muhammad Nafis ";
    }
    42.5%{
        content: "Muhammad Nafis";
    }
    43%{
        content: "Muhammad Nafi";
    }
    43.5%{
        content: "Muhammad Naf";
    }
    44%{
        content: "Muhammad Na";
    }
    44.5%{
        content: "Muhammad N";
    }
    45%{
        content: "Muhammad ";
    }
    45.5%{
        content: "Muhammad";
    }
    46%{
        content: "Muhamma";
    }
    46.5%{
        content: "Muhamm";
    }
    47%{
        content: "Muham";
    }
    47.5%{
        content: "Muha";
    }
    48%{
        content: "Muh";
    }
    48.5%{
        content: "Mu";
    }
    49%{
        content: "M";
    }
    49.5%{
        content: "";
    }
    52.5%{
        content: "a";
    }
    54%{
        content: "a ";
    }
    55.5%{
        content: "a j";
    }
    57%{
        content: "a ju";
    }
    58.5%{
        content: "a jun";
    }
    60%{
        content: "a juni";
    }
    61.5%{
        content: "a junio";
    }
    63%{
        content: "a junior";
    }
    64.5%{
        content: "a junior ";
    }
    66%{
        content: "a junior W";
    }
    67.5%{
        content: "a junior We";
    }
    69%{
        content: "a junior Web";
    }
    70.5%{
        content: "a junior Web ";
    }
    72%{
        content: "a junior Web D";
    }
    73.5%{
        content: "a junior Web De";
    }
    75%{
        content: "a junior Web Dev";
    }
    76.5%{
        content: "a junior Web Deve";
    }
    78%{
        content: "a junior Web Devel";
    }
    79.5%{
        content: "a junior Web Develo";
    }
    81%{
        content: "a junior Web Develop";
    }
    82.5%{
        content: "a junior Web Develope";
    }
    84%{
        content: "a junior Web Developer";
    }
    85.5%{
        content: "a junior Web Developer";
    }
    89.5%{
        content: "a junior Web Develope";
    }
    90%{
        content: "a junior Web Develop";
    }
    90.5%{
        content: "a junior Web Develo";
    }
    91%{
        content: "a junior Web Devel";
    }
    91.5%{
        content: "a junior Web Deve";
    }
    92%{
        content: "a junior Web Dev";
    }
    92.5%{
        content: "a junior Web De";
    }
    93%{
        content: "a junior Web D";
    }
    93.5%{
        content: "a junior Web ";
    }
    94%{
        content: "a junior Web";
    }
    94.5%{
        content: "a junior We";
    }
    95%{
        content: "a junior W";
    }
    95.5%{
        content: "a junior ";
    }
    96%{
        content: "a junior";
    }
    96.5%{
        content: "a junio";
    }
    97%{
        content: "a juni";
    }
    97.5%{
        content: "a jun";
    }
    98%{
        content: "a ju";
    }
    98.5%{
        content: "a j";
    }
    99%{
        content: "a ";
    }
    99.5%{
        content: "a";
    }
    100%{
        content: "";
    }
}

.ceret{
    animation: blink .5s infinite;
}
@keyframes blink {
    from,to{
        color: rgb(255, 174, 0);
    }
    50%{
        color: transparent;
    }
}

/* ------------------------------------------- */
/* top section of the website */
.mission-focus{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items:center;
    background-image: url("images/shapes/shape-1.png");
    background-position: -10rem -10rem;
    background-repeat: no-repeat;
    background-size: 20rem;
    padding-top: 5rem;
}
.half-width{
    /* flex: 0 1 26rem; */
    /* border: solid; */
}
.top-text{
    flex: 3 1 22rem;
    align-self: center;
}
.top-image{
    align-self: flex-start;
    flex: 1 1 22rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-flow: column nowrap;
}
.half-width h1{
    font-size: 3.2em;
    padding-left: .8rem;
    color: rgb(19, 19, 19);
    max-width: 26rem;
}
.mission-title{
    display: flex;
    margin-bottom: 2rem;
}
.bar{
    align-self: stretch;
    width: 6px ;
    border-radius: 10rem;
    background-color: rgb(11, 168, 147);
}
.half-width p{
    font-size: 1.1em;
    line-height: 1.5;
    padding-right: 1rem;
}
.half-width img{
    display: block;
    width: 80%;
    border-radius: 1.5rem;
}




/* ------------------------------------------- */
/* My mission area & it's three card section */
.mission-card-area{
    padding-top: 4rem;
    padding-bottom: 2rem;
    background-image: url("images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-position: 130% -5%;
    background-size: 26rem;
}
.mission-card-area h2{
    font-size: 2.7em;
    text-align: center;
}

.card-layer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3rem;
}
.card-layer>div{
    flex: 1 0 30%;
    height: 23rem;
    margin: .4%;
    border-radius: 1.5rem;
    padding: 1% 2.8%;
}
.bg-lBlue{
    background-color: rgba(173, 216, 230, 0.507);
}
.bg-lPink{
    background-color: rgba(255, 182, 193, 0.507);
}
.bg-lCyan{
    background-color: lightcyan;
}

.card-layer>div>img{
    height: 45%;
    display: block;
}
.card-layer>div>h3{
    margin: 1rem 0;
    font-size: 1.5em;
    padding-left: .5rem;
}
.card-layer>div>p{
    line-height: 1.3;
    height: 7.8rem;
    border-radius: .2rem;
    overflow:auto;
}


/* ------------------------------------------- */
/* Develop without limits (1 image left + 1 div conatining text right) section */
/* Know our Global community (1 div conatining text left + 1 image right) section */
.image-documentation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}
.flex-image{
    flex: 0 0 35%;
    max-width: 336px;
}
.flex-text{
    flex: 0 0 58%;
}
.bg-left{
    background-image: url("images/shapes/shape-6.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 20rem;
}
.bg-right{
    background-image: url("images/shapes/shape-6.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 20rem;
}
.image-documentation>div>img{
    width: 100%;
}

.flex-text>h4{
    font-size: 2em;
}
.flex-text>h3{
    font-size: 2.2em;
    margin: 1rem 0 2rem;
}
.flex-text>p{
    font-size: 1.2em;
    line-height: 1.5;
}



/* ------------------------------------------- */
/* my creative idea section */
.mern{
    margin: 5rem 0 3rem;
    background-image: url("images/shapes/shape-3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -40vw 50%;
}
.mern>h2{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 3rem;
}
.mern-card-area{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.mern-card-subarea{
    flex: 0 0 50%;
    height: 30rem;
    display: flex;
    justify-content: space-around;
}
.mern-card-subarea div{
    flex: 0 0 49%;
    height: 20rem;
    margin: .5%;
    padding: .8rem;
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.mern-card-subarea img{
    align-self: center;
    max-height: 40%;
    max-width: 80%;
}
.mern-card-subarea h3{
    font-size: 1.3em;
}
.mern-card-subarea p{
    line-height: 1.33;
    height: 9rem;
    overflow: auto;
    border-radius: .3rem;
}
.mern-start{
    align-self: flex-start;
}
.mern-end{
    align-self: flex-end;
}
.mongodb{
    background-color: rgba(0, 192, 0, 0.2);
}
.expressjs{
    background-color: rgba(240, 128, 128, 0.30);
}
.reactjs{
    background-color: rgb(85, 149, 170,0.20);
}
.nodejs{
    background-color: rgba(150, 248, 199, 0.45);
}



/* ------------------------------------------- */
/* footer section */
footer{
    height:15rem;
    background-color: rgb(7, 11, 19);
    color: white;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}
footer>h3{
    font-size: 2em;
}
.footer-highlight{
    color: rgb(255, 162, 80);
}
footer>p{
    color: white;
}







/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .mission-focus{
        flex-flow: column-reverse nowrap;
    }
    .top-image{
        align-self: center;
        flex: 0 1 auto;
    }
    .top-image h2{
        text-align: center;
        margin-bottom: 3rem;
    }
    .half-width img{
        width: 100%;
        max-width: 25rem;
        margin-left: 0;
    }
    .card-layer>div{
        flex: 0 0 45%;
    }
    .flex-image{
        flex: 0 0 45%;
        max-width: 336px;
    }
    .flex-text{
        flex: 0 0 50%;
    }
    .mern{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: -90vw 50%;
    }
    .mern-card-subarea{
        flex: 0 0 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .half-width h1{
        font-size: 9vw;
        padding-left: .8rem;
        color: rgb(19, 19, 19);
        max-width: 26rem;
    }
    .top-image{
        flex: 0 1 auto;
    }
    .half-width img{
        max-width: 20rem;
    }
    .mission-card-area{
        background-position: 50% -25%;
    }
    .image-documentation{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 3rem 0;
    }
    .flex-image{
        margin-bottom: 3rem;
    }
    .bg-right{
        flex-flow: column-reverse nowrap;
    }
    .mern-card-area{
        flex-flow: column nowrap;
        align-items: center;
    }
    .mern-card-subarea{
        min-height: 30rem;
        flex-flow: column nowrap;
    }
    .mern-card-subarea div{
        max-width: 302px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
    .half-width h1{
        font-size: 2em;
    }
    .top-text{
        display: flex;
        flex-flow: column nowrap;
    }
    .half-width p{
        padding-right: 0;
    }
    .linked-button{
        align-self: center;
        text-align: center;
    }
    .mission-card-area h2{
        font-size: 2em;
    }
    .card-layer>div{
        flex: 0 0 100%;
        padding: 7%;
    }
    .card-layer>div>img{
        margin: 0 auto;
    }
    .flex-text{
        display: flex;
        flex-flow: column nowrap;
    }
}



